# gsOS junk files
[Tt]humbs.db
*.DS_Store

# User-specific files
*.suo
*.user

# Visual C++ cache files
*.sdf

# Build outputs
/Debug
/Release

# NCrunch
_NCrunch_*
.*crunch*.local.xml

# VP-UML
*.vpp~*

# Releases
/Install/*.exe
/Install/Cuckoo.scr