# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text=auto

*.cpp text diff=cpp
Install/*.txt text eol=crlf

# Custom for Visual Studio
*.sln text eol=crlf merge=union 
*.csproj eol=crlf merge=union
*.vcproj eol=crlf merge=union
